.background {
    background-color: gray}
.topbar {
    background-color: #480E6A;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ssg-insight-logo-colour {	height: 156px;	width: 468px;}

.label {	
    height: 27px;	
    width: 57px;	
    font-family: "IBM Plex Sans";	
    font-size: 20px;	
    font-weight: 600;	
    line-height: 27px;	
}

.purple {
    color: #480E6A;	
}

.action-button{
	height: 68px;
    width: 198px;	
}

.button-font {	
    
    color: #FFFFFF;	
    font-family: "IBM Plex Sans";	
    font-size: 27px;	
    font-weight: 500;	
    letter-spacing: -0.9px;	
    line-height: 35px;	
    text-align: center;
}

.btn-primary {
    background-color: #480E6A;
}

.btn-secondary {
    color: black;
    background-color:#F1F0F0;
}

.btn {
    border-width: 0ch;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
    display: flex;
    align-items: center;
  }