<div class="vertical-center">
    <div class="container text-center align-middle">
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets/insight.svg" class="ssg-insight-logo-colour" alt="Responsive image">
            </div>
        </div>
        <div class="row">
            <div class="col portal">Portal</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">Function</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button"
                                class="btn btn-primary mr-2 action-button button-font">Helpdesk</button>
                            <button type="button"
                                class="btn btn-secondary mr-2 action-button button-font">Scheduler</button>
                            <button type="button" class="btn btn-secondary action-button button-font">Dashboard</button>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>